[Unit]
Description=Nomad Agent

[Container]
Image=ghcr.io/computator/nomad
AutoUpdate=registry
ContainerName=nomad-agent

Environment=DRIVER_ALLOWLIST=podman

Exec=agent \
	-client

Volume=nomad-agent-data:/data
Volume=%S/nomad/alloc:/alloc:z,rshared

PodmanArgs=--cgroupns=host
Unmask=/sys/fs/cgroup

[Service]
ExecStartPre=mkdir -p %S/nomad/alloc

[Install]
WantedBy=multi-user.target
