[Unit]
Description=Nomad Client

[Service]
Environment=ALLOC_DIR=%S/nomad/alloc
ExecStartPre=mkdir -p ${ALLOC_DIR}

[Container]
Image=ghcr.io/computator/nomad
AutoUpdate=registry
ContainerName=nomad-client
Network=host

# Set to actual server address
Environment=NOMAD_SERVERS=127.0.0.1
Environment=ALLOC_DIR=${ALLOC_DIR}
Environment=DRIVER_ALLOWLIST=podman
# Optional: override client http port to not conflict with local server
Environment=BIND_PORTS=http=4649

# ca and certs can be created with nomad tls subcommands
# Secret=nomad-ca-cert
# Secret=nomad-client-cert
# Secret=nomad-client-key
# Environment=TLS_ENABLED=1
# # Environment=TLS_HTTPS_VERIFY=1
# Environment=TLS_CA_FILE=/run/secrets/nomad-ca-cert
# Environment=TLS_CERT_FILE=/run/secrets/nomad-client-cert
# Environment=TLS_KEY_FILE=/run/secrets/nomad-client-key

Exec=agent \
	-client

Volume=nomad-client-data:/data
Volume=${ALLOC_DIR}:${ALLOC_DIR}:z,rshared
Volume=/run/podman/podman.sock:/run/podman/podman.sock

AddCapability=SYS_ADMIN
SecurityLabelDisable=true
PodmanArgs=--cgroupns=host
Unmask=/sys/fs/cgroup

[Install]
WantedBy=multi-user.target
